# Ignore node_modules directory
node_modules/

# Ignore build output directories
build/
dist/

# Ignore environment variable files
.env
.env.local

# ruff stuff
.ruff_cache/

# pycache
__pycache__/


# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore npm debug log files
npm-debug.log*

# Ignore yarn log files
yarn-debug.log*
yarn-error.log*

# Ignore Visual Studio Code files
.vscode/

# Ignore Android files
*.apk

# Ignore iOS files
*.ipa

# Ignore Android build output directories
android/app/build/

# Ignore iOS build output directories
ios/build/

# Ignore Android Studio files
.idea/
*.iml

# Ignore Xcode files
*.xcworkspace
*.xcuserdata
*.xcuserstate
